.projects_container {
    margin-top: 8rem;
    padding-inline: var(--inline-padding);
    border: 2px solid red;
}

.projects_header {
    text-align: center;
}

.projects_subtext {
    text-align: center;
}

/* project cards container  */
.project_cards-container {
    border: 2px solid green;
    padding-block: 2rem;
}

.project_card {
    border: 1px solid blue;
    padding-block: 2rem;
}

.project_card-inner {
    border: 2px solid black;
    padding-block: 2rem;
}