.projects_container {
    margin-top: 8rem;
    padding-inline: var(--inline-padding);
    border: 2px solid red;
}

.projects_header {
    text-align: center;
}

.projects_subtext {
    text-align: center;
}

/* project cards container  */
.project_cards-container {
    border: 2px solid green;
    padding-block: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "a b"
    "c d"
    ;
    gap: 4rem;
}

.view_more {
    float: right;
}
