.hero_container {
    min-height: 100svh;
    position: relative;
    cursor: default;
}

.hero_main-container {
    position: relative;
    z-index: 2;
    padding-inline: var(--inline-padding);
}

.hero_top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1rem;
}

.hero_time {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
    margin-inline: auto;
}

.mode_btn {
    background-color: var(--orange);
    color: var(--bg-color-light);
    border-radius: 30px;
}

.hero_header {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin: 15% auto 0;
}

.hero_header-mid {
    display: block;
    font-weight: 300;
}

.hero_header-bottom {
    font-weight: 700;
}


/* responsiveness ----------------------------------- mobile */
@media only screen and (max-width: 768px) {
    .hero_logo-top {
        display: none;
    }

    .mode_btn {
        display: none;
    }

    .hero_time {
        font-size: .825rem;
        margin-top: 1rem;
    }

    .hero_header {
        font-size: 2rem;
        margin-top: 40%;
    }
}