/* navbar bottom */
.navbar {
    width: 84%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-block: 2rem;
    z-index: 2;
    margin-inline: var(--inline-padding);
    border-top: 1px solid var(--orange);
}

.nav_group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_link {
    color: var(--dark-color);
}

.nav_item {
    font-size: 1.5rem;
    position: relative;
}

.nav_link:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--orange);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav_link:hover:after { 
    width: 100%; 
    left: 0; 
}

.menu_hamburger {
    display: none;
    cursor: pointer;
}


/* responsiveness ----------------------------------- mobile */
@media only screen and (max-width: 768px) {
    .navbar {
        padding-block: .5rem;
    }

    .hero_logo-mobile {
        font-size: 1.5rem;
    }

    .menu_hamburger {
        display: block;
    }

    .nav_group {
        display: none;
    }

    .nav_group-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* mobile menu container */
    .mobile_menu-container {
        background-color: antiquewhite;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
    }
}